*.bin
*.o

# NES header for FCEUX emulation - do not ignore!: 
!nes_header/*.bin

# ROM dump binaries: 
romdump_init/*.bin

appList.s
menu.s

# EmuVT or other emulator breakpoint files and etc.
*.ss0
*.bak
*.deb
*.cdl

# Generated NES file:
*.nes