*.bin
*.o

# NES header for FCEUX emulation - do not ignore!: 
!nes_header/*.bin

# ROM dump binaries: 
romdump_init/*.bin

# Output ROM for handheld:
output_rom_handheld/*.bin

# Patch IPS:
patch/*.ips

appList.s
menu.s

# EmuVT or other emulator breakpoint files and etc.
*.ss0
*.bak
*.deb
*.cdl

# Generated NES file:
*.nes

# Floating IPS executable:
flips.exe